.page {
    position: relative;
    width: var(--global-window-width);
    height: var(--global-window-height);
    background-color: rgb(200, 200, 200);
    overflow: hidden;
}

.page__message {
    z-index: 200;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    max-height: 0;
    transition: all .4s ease-in-out 0s;
}

.page__message--show {
    max-height: 100px;
}