.video {}

.video__message {
    z-index: 200;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.video__stream {
    z-index: 50;
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 0;
    background-color: black;
}

.video__frame {
    z-index: 100;
    display: flex;
    flex-flow: row nowrap;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.video__squard {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 50%;
    height: 100%;
}
.video__squard::after {
    z-index: 120;
    content: '';
    position: absolute;
    left: 10%;
    top: 49%;
    width: 80%;
    height: 4px;
    border-radius: 2px;
    background-color: rgba(230, 20, 20, .5);
}
.video__squard--grey {
    background-color: rgba(200, 200, 200, .7);
}

.video__barcode {
    z-index: 100;
    position: relative;
    width: 60%;
    height: 50%;
    padding-top: 5%;

}

/* ======================= media query ======================= */

/* for portrait */
@media screen and (orientation: portrait) {

    /* mobile */
    @media screen and (max-width: 599px) {
        .video__stream {
            border-radius: 3px;
        }
        .video__frame {
            flex-flow: column nowrap;
        }
        .video__squard {
            width: 100%;
            height: 50%;
        }
    }
}
/* =========================================================== */