.video {
    position: relative;
}
.video__stream {
    z-index: 50;
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.video__frame {
    z-index: 100;
    display: flex;
    flex-flow: row nowrap;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.video__squard {
    position: relative;
    width: 50%;
    height: 100%;
}
.video__squard::after {
    z-index: 120;
    content: '';
    position: absolute;
    left: 10%;
    top: 49%;
    width: 80%;
    height: 4px;
    border-radius: 2px;
    background-color: rgba(230, 20, 20, .5);
}
.video__squard--grey {
    background-color: rgba(200, 200, 200, .7);
}

.video__squard--barcode {
    z-index: 100;
    border-top-right-radius: var(--video-frame-radius);
    border-bottom-right-radius: var(--video-frame-radius);
    background-color: rgba(200, 200, 200, .7);
}

/* ======================= media query ======================= */

/* for portrait */
@media screen and (orientation: portrait) {

    /* mobile */
    @media screen and (max-width: 599px) {
        .video__frame {
            flex-flow: column nowrap;
        }
        .video__squard {
            width: 100%;
            height: 50%;
        }
    }
}

/* for landscape */
@media screen and (orientation: landscape) {

    /* mobile */
    @media screen and (max-width: 799px) {
    }

    /* iphone x */
    @media screen and (max-width: 999px) and (min-aspect-ratio: 2/1) {
    }
}
/* =========================================================== */