@font-face{
    font-family: "GOST type B";
    src: url('../../font/GOST type B.woff');
    font-weight: normal;
    font-style: normal;
}

.text--gostb {
    font-family: "GOST type B";
}
.text--gostb-h3 {
    line-height: 30px;
}
