.video__message {
    z-index: 200;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform-origin: 25% 50%;
    transform: scale3d(0, 0, 1);
    opacity: 0;
}
.video__message--animate-hide {
    animation: video-message-animate-hide .255s ease 1 normal forwards;
}
.video__message--animate-show {
    animation: video-message-animate-show .255s ease 1 normal forwards;
}
@keyframes video-message-animate-hide {
    0% { transform: scale3d(1, 1, 1); opacity: 1 }
    99% { transform: scale3d(.2, .3, 1); opacity: 0 }
    100% { transform: scale3d(0, 0, 1); opacity: 0 }
}
@keyframes video-message-animate-show {
    0% { transform: scale3d(0, 0, 1); opacity: 0 }
    1% { transform: scale3d(.2, .3, 1); opacity: 0 }
    100% { transform: scale3d(1, 1, 1); opacity: 1 }
}

.video__stream {
    z-index: 50;
    /* object-fit: cover; */
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    background-color: black;
}

.video__frame {
    z-index: 100;
    display: flex;
    flex-flow: row nowrap;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.video__squard {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 50%;
    height: 100%;
}
.video__squard::after {
    z-index: 120;
    content: '';
    position: absolute;
    left: 10%;
    top: 49%;
    width: 80%;
    height: 4px;
    border-radius: 2px;
    background-color: rgba(230, 20, 20, .5);
}
.video__squard--grey {
    background-color: rgba(200, 200, 200, .7);
}

.video__barcode {
    z-index: 100;
    position: relative;
    width: 60%;
    height: 50%;
    padding-top: 5%;
}

/* ======================= media query ======================= */

/* for portrait */
@media screen and (orientation: portrait) {

    /* mobile */
    @media screen and (max-width: 599px) {
        .video__message {
            transform-origin: 50% 25%;
        }
        .video__stream {
            border-radius: 0;
        }
        .video__frame {
            flex-flow: column nowrap;
        }
        .video__squard {
            width: 100%;
            height: 50%;
        }
    }
}

/* for landscape */
@media screen and (orientation: landscape) {
    @media screen and (max-width: 799px) {
        .video__stream {
            border-radius: 0;
        }
    }
    @media screen and (max-width: 999px) and (min-aspect-ratio: 2/1) {
        .video__stream {
            border-radius: 0;
        }
    }
}
/* =========================================================== */