.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--global-window-width);
    height: var(--global-window-height);
}

.container__video {
    z-index: 50;
    position: relative;
    width: 80%;
    max-width: 900px;
}

/* ======================= media query ======================= */

/* for portrait */
@media screen and (orientation: portrait) {

    /* mobile */
    @media screen and (max-width: 599px) {
        .container__video {
            width: var(--global-window-width);
           height: var(--global-window-height);
        }
    }
}

/* for landscape */
@media screen and (orientation: landscape) {

    /* mobile */
    @media screen and (max-width: 799px) {
        .container__video {
            width: var(--global-window-width);
            height: var(--global-window-height);
        }
    }

    /* iphone x */
    @media screen and (max-width: 999px) and (min-aspect-ratio: 2/1) {
        .container__video {
            width: var(--global-window-width);
            height: var(--global-window-height);
        }
    }
}
/* =========================================================== */